amqp==2.2.2
anyjson==0.3.3
backoff==1.4.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
bleach==2.1.1
boto3==1.4.7
celery==4.1.0
cryptography==2.1.3
django-autocomplete-light==2.3.3  # pyup: >=2.0.0,<3.0.0
django-ckeditor==5.3.1
django-constance==2.0.0
django-extensions==1.9.7
django-filter==1.1.0
django-grappelli==2.10.1
django-mailbox==4.6.0
django-picklefield==1.0.0
django-s3-storage==0.12.0
Django==1.11.7
djangorestframework-jwt==1.11.0
djangorestframework==3.7.3
docutils==0.14
drfdocs==0.0.11
ec2-metadata==1.5.0
elasticsearch==5.4.0
feedparser==5.2.1
geoip2==2.6.0
geopy==1.11.0
gunicorn==19.7.1
html5lib==0.999999999
httmock==1.2.6
httplib2==0.10.3
jira==1.0.10
kombu==4.1.0
langdetect==1.0.7
maxminddb==1.3.0
nltk==3.2.5
oauth2==1.9.0.post1
oauthlib==2.0.6
pika==0.11.0
Pillow==4.3.0
psycopg2==2.7.3.2
PyJWT==1.5.3
pymongo==3.5.1
python-dateutil==2.6.1
pytz==2017.3
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
requests==2.18.4
sauceclient==1.0.0
selenium==3.7.0
six==1.10.0
testfixtures==5.3.0
textblob==0.13.0
tlslite==0.4.9
tweepy==3.5.0
urllib3==1.22
